@import "sunburst";
@import "barchart";

// This file contains temporary definition just for prototype to look nice. It will not be in final compoenent
html, body{
    margin: 0;
    background-color: #f9f9f9;
}

.options{
    height: 50px;
    width: 1200px;
    margin:10px auto 10px auto;
    text-align: center;;
}
.option{
    margin: 0 10px;
    padding: 5px;
    font-size: 25px;
    font-family : "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-decoration: none;
    border-bottom: 1px dotted #777;
}

.option{ color: #333}
.option.selected{
    background: #0088cc;
    color: #fff;
    border: none;
}

.container{
    width: 1200px;
    padding: 20px 0 20px 0;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-width: 0 1px 0 1px;
    background-color: #fff;
    box-shadow: 0 0 9px -4px  #777;
}

.container:after{
    display: block;
    clear:both;
    content: "";
}

.categories{
    margin-bottom: 20px;
}
.col{
    text-align: center;
}

.col.left{ float: left; padding: 0 10px 0 10px; width: 599px; border-right: 1px dotted #aaa;}
.col.right{ overflow: hidden}

.viz{ margin: 20px auto; display: block;}