@import 'sunburst';

.datassist {
  float: left;
  text-align: center;

  &:after {
    display: block;
    clear: both;
    content: "";
  }

  .charts {
    position: relative;

  }

  .datassist-chart {
  }
  .datassist-indicators {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
  }

  &.datassist-indicators-mode {
  }
}
