@import '_base';

.datassist-sunburst {
  .arc {
    opacity: 0.7;

    stroke-width: 1px;

    &.selected {
      stroke-width: 2px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  line {
    stroke: #aaa;
    stroke-dasharray: 3
  }

  text {
    .datassist-font-face;
  }
}