<div class="datassist">
    <div class="datassist-university dropdown" name="university">
        <div class="text title">Select university</div>
        <span class="icon"></span>

        <div class="options">
        </div>
    </div>

    <div class="lang">
        <a class="active" href="#" data-lang="en">English</a>
        <a href="#" data-lang="fr">Français</a>
    </div>

    <div class="units">Units: <a href="#" class="unit" data-other="Scores">Rating</a></div>

    <div class="datassist-charts">
        <div class="datassist-categories datassist-chart"></div>
        <div class="datassist-indicators datassist-chart"></div>
    </div>
</div>